@page "/Minesweeper"

<h2>Minesweeper</h2>

<br />

<h3>New Game:</h3>

<h5 @onclick="@(() => StartGame(10, 15))">Easy</h5>
<h5 @onclick="@(() => StartGame(15, 30))">Medium</h5>
<h5 @onclick="@(() => StartGame(20, 50))">Hard</h5>

@if (_model != null)
{

    @if (_model.IsLost)
    {
        <h1>You lost!</h1>
    }

    else if (_model.IsWon)
    {
        <h1>You won!</h1>
    }
    <div>
        <table table-layout="fixed" width="500px" height="500px">
                @for (int i = 0; i < _size; i++)
                {
                    <tr height="@(500 / _size)px">
                        @for (int j = 0; j < _size; j++)
                        {
                            int row = i, col = j;
                            <td class="minesweeper"
                                width="@(500 / _size)px"
                                @onclick="@(e => Click(row, col))"
                                @oncontextmenu:preventDefault @oncontextmenu="(e => Flag(row, col))">
                                @GetTile(row, col)
                            </td>
                        }
                    </tr>
                }
        </table>
    </div>
}
